<h1>New subject</h1>
<div class ="main-container">
    <div class="main-header">
    <%= image_tag("adnu-seal.png") %>
    </div>

<%= render "form", subject: @subject %>

<br>

<div>
  <%= link_to "Back to subjects", subjects_path %>
</div>
