<h1>New course</h1>
<div class="main-container">
<div class="main-header">
<%= image_tag("adnu-seal.png") %>
</div>
<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Back to courses", courses_path %>
</div>
</div>
